html {
    height: 100%;
}


body {
    background-color: #F8F8F8;
    min-height: 100%
}

.nav-css {
    border-bottom: 2px solid cadetblue;
    padding-left: 11.5%;
}

.container {
    margin-top: 20px;
}

.card-img {
    height: 200px;
    width: 200px;
}

.biopic {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    border-radius: 50%;
    width: 300px;
    height:300px;
}

h2 {
    color: cadetblue;
}

h4 {
    margin:10px;
    text-align: center;
    color: cadetblue;
}

p {
    margin:10px 20px;
}

.card {
    padding-left: 10px;
    padding-right: 10px;
}

/* .col {
    width: 100%;
} */

.col-6 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-form {
    margin: 10px 30px;
}

.margin-fix {
    margin-top: 15px;
}

.row {
    margin-bottom: 40px;
}

.portfolio-pic {
    margin-bottom: 40px;
    height: 300px;
    width: 300px;
}

footer {
    margin-top: auto;
}

.navbar-justify {
    justify-content: flex-end;
    flex-direction: row;
}



@media screen and (max-width: 640px) {
    .card {
        margin: 0 auto;
    }

    .biopic {
        height: 200px;
        width: 200px;
    }
    
    .col-6 {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px; 
        display: block;
    }

    p {
        margin: 0 auto;
    }

    .card {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }

    .portfolio-pic {
        height: 90%;
        width: 90%;

    }
}


@media screen and (max-width: 980px) {
    img {
        margin-left: 10px;
        margin-right: 10px;
    }

    .card {
        padding-left: 0;
        padding-right: 0;
    }
}